<a href="https://colab.research.google.com/github/CG-94/Wk-4-IP/blob/main/SQL_NoteBook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this week's independent project, I will be working as a data scientist working for an electric car-sharing service company. We have been tasked to process stations data to understand electric car usage over time by solving for the following research question;

Research Question

*   Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

# 1.0 Loading Dataset

In [4]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

'Connected: @None'

In [5]:

# Importing Pandas
import pandas as pd

In [6]:
# Loading our dataset

with open('Autolib_dataset (2).csv','r') as f:
    Autolib = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS Autolib;
%sql PERSIST Autolib;

%sql SELECT * FROM Autolib LIMIT 5

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('2 Avenue de Suffren', 0, 0, 0, 0, 0, 'nonexistent', 'Paris', None, 'paris-suffren-2', 'STATION', '48.857, 2.2917', 75015, 'Paris/Suffren/2', 'operational', None, 2, 'station', 'ok', 'nonexistent', 2018, 4, 8, 11, 43),
 ('145 Rue Raymond Losserand', 6, 6, 0, 0, 0, 'operational', 'Paris', None, 'paris-raymondlosserand-145', 'STATION', '48.83126, 2.313088', 75014, 'Paris/Raymond Losserand/145', 'operational', None, 0, 'station', 'ok', 'nonexistent', 2018, 4, 6, 7, 24),
 ('2 Avenue John Fitzgerald Kennedy', 3, 3, 0, 2, 0, 'operational', 'Le Bourget', None, 'lebourget-johnfitzgeraldkennedy-2', 'STATION', '48.938103, 2.4286035', 93350, 'Le Bourget/John Fitzgerald Kennedy/2', 'operational', None, 1, 'station', 'ok', 'nonexistent', 2018, 4, 3, 20, 14),
 ('51 Rue EugÃ¨ne OudinÃ©', 3, 3, 1, 0, 1, 'operational', 'Paris', None, 'paris-eugeneoudine-51', 'STATION', '48.8250327, 2.3725162', 75013, 'Paris/EugÃ¨ne OudinÃ©/51', 'operational', None, 2, 'station', 'ok', 'nonexistent', 2018, 4, 4, 4, 37),
 ('6 avenue de la Porte de Champerret', 3, 3, 0, 0, 0, 'nonexistent', 'Paris', None, 'paris-portedechamperret-6', 'PARKING', '48.8862632, 2.2874511', 75017, 'Paris/Porte de Champerret/6', 'operational', None, 3, 'station', 'ok', 'nonexistent', 2018, 4, 8, 17, 23)]

# 1.1 Filtering Data using Where

In [36]:
# Now Selecting our data filtered out with our conditions;

%%sql
SELECT Cars, City, year, month, hour, "Rental status" FROM Autolib
WHERE City = 'Paris' LIMIT 5;

 * sqlite://
Done.

[(0, 'Paris', 2018, 4, 11, 'operational'),
 (6, 'Paris', 2018, 4, 7, 'operational'),
 (3, 'Paris', 2018, 4, 4, 'operational'),
 (3, 'Paris', 2018, 4, 17, 'operational'),
 (0, 'Paris', 2018, 4, 7, 'operational')]

# 1.3 Creating a new Table

In [37]:
# Now creating a new table with our filtered data

%%sql
CREATE TABLE Paris_Bluecars AS
SELECT Cars, City, year, month, hour, "Rental status" FROM Autolib
WHERE City = 'Paris';

 * sqlite://
Done.

[]

In [38]:
# Let's preview our new table

%%sql
SELECT * FROM Paris_Bluecars LIMIT 5;

 * sqlite://
Done.

[(0, 'Paris', 2018, 4, 11, 'operational'),
 (6, 'Paris', 2018, 4, 7, 'operational'),
 (3, 'Paris', 2018, 4, 4, 'operational'),
 (3, 'Paris', 2018, 4, 17, 'operational'),
 (0, 'Paris', 2018, 4, 7, 'operational')]

# 1.4 Frequency

In [45]:
# Now finding the most popular hour of renting cars among the operational stations;
# From running this code, we can be able to get the most popular hour of the day i.e fefore 18:00 hrs

%%sql
SELECT hour, count(hour) AS Popular
FROM Paris_Bluecars
WHERE hour < 18
GROUP BY hour
ORDER BY Popular DESC;

 * sqlite://
Done.

[(8, 128),
 (16, 128),
 (3, 125),
 (6, 124),
 (2, 123),
 (9, 122),
 (7, 121),
 (10, 121),
 (12, 120),
 (5, 117),
 (17, 116),
 (13, 114),
 (4, 112),
 (15, 111),
 (0, 110),
 (11, 107),
 (14, 107),
 (1, 105)]